@model M17E_Lar.Models.Medicamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Medicamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
