@model IEnumerable<M17E_Lar.Models.Idoso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Nasc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doenças)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUtenteSaude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            Idade
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Nasc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doenças)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUtenteSaude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @item.Idade
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID_Idoso }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID_Idoso }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.ID_Idoso })
        </td>
    </tr>
}

</table>
